<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoAnalytics</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">CryptoAnalytics</h1>
        <!-- a dropdown control for cryptocurrency -->

        {% for tweet in tweetList %}
        <div class="ui segment">
            <!-- touch on the color based on the tone -->
            <!-- if tweet.tone == "Positive" -->
            <label>{{tweet.date}} </label>
            <p class="ui">{{tweet.text }}</p>
            <p class="ui big header"><label>{{tweet.tone}} {{ tweet.sentiment_score }} </label></p>
        </div>
        {% endfor %}
    </div>
</body>

</html>