<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=604800, stale-while-revalidate=86400" />

    <title>CryptoAnalytics</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://kit.fontawesome.com/db1eb2790b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- highchart for plot -->
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script> -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
</head>
<script>
    function load_btc() {
        btc_json = JSON.parse('{{bitcoinPrice|safe}}')

        console.log('{{ hour_sentiments }}\n' + btc_json)

        hr_senti = '{{ hour_sentiments }}'
        hr_senti_feed = []

        const btc_chart = Highcharts.chart('btc_chart', {
            title: {
                text: 'Bitcoin Price vs Sentiment '
            },
            // yAxis: {
            //     labels: {
            //         formatter: function () {
            //             return (this.value > 0 ? ' + ' : '') + this.value + '%';
            //         }
            //     },
            //     plotLines: [{
            //         value: 0,
            //         width: 2,
            //         color: 'silver'
            //     }]
            // },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2,
                split: true
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    rotation: -45,
                    formatter: function () {
                        return Highcharts.dateFormat('%Y/%m/%d %H:%M', this.value);
                    }
                }
            },
            series: [
                {
                    name: 'BTC',
                    color: 'rgba(36, 124, 212)',
                    data: btc_json
                },
                {
                    name: 'Sentiment',
                    color: 'rgba(176, 26, 81)',
                    data: JSON.parse(hr_senti)
                }]
        });
    }

    function load_scatter() {
        // scatter plot | pie or barchart | bitcoin chart?
        all_tweets_json = JSON.parse('{{sentiHc|safe}}')

        pos_tweet = []
        neg_tweet = []
        neu_tweet = []

        for (var i = 0; i < all_tweets_json.length; i++) {
            t = all_tweets_json[i]

            //console.log(t[0])

            // transform timestamp
            x = [new Date(t[0]).getTime(), t[1]]

            if (t[1] > 0) {
                pos_tweet.push(x)
            } else if (t[1] < 0) {
                neg_tweet.push(x)
            } else {
                neu_tweet.push(x)
            }

        }

        //test = [['2022-03-24 23:22', 0.187], ['2022-03-24 23:45', -0.673]]

        const chart = Highcharts.chart('scatter_container', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    rotation: -45,
                    formatter: function () {
                        return Highcharts.dateFormat('%Y/%m/%d %H:%M', this.value);
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Sentiment Score'
                }
            },
            series: [{
                name: 'Positive',
                color: 'rgba(44, 217, 28, .8)',
                data: pos_tweet
            },
            {
                name: 'Negative',
                marker: {
                    symbol: 'circle'
                },
                color: 'rgba(252, 86, 3, .8)',
                data: neg_tweet
            }]
        });
    }

    function load_pie() {
        Highcharts.setOptions({
            colors: ['#6beb34', '#b35b0e', '#77807b']
        });
        Highcharts.chart('pie_container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Sentiment Categories'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            series: [{
                name: 'Tone',
                colorByPoint: true,
                data: [{
                    name: 'Positive',
                    y: '{{posTweets}}'.length
                }, {
                    name: 'Negative',
                    y: '{{negTweets}}'.length
                },
                {
                    name: 'Neutral',
                    y: '{{nerTweet}}'.length
                }]
            }]
        });
    }

    function load_price() {
        price_pair = JSON.parse('{{last_price_pair|safe}}')

        //console.log(price_pair)
        $("div.cur_price").text(price_pair.current)
        $("div.next_hr_price").text(price_pair.predict_hour)
        $("div.next_d_price").text(price_pair.predict_day)
    }

    window.onload = function () {
        load_pie()
        load_scatter()
        load_price()
        load_btc()
    }

    function reload() {
        //location.reload()
    }

    setInterval(function () {
        reload() // this will run after every 5 seconds
    }, 30000);
</script>

<body>
    <div class="ui top fixed menu" style="padding: 15px;">
        <i class="fa-brands fa-bitcoin loading huge"></i>
        <a class="item" style="font-size: 18;">Tothe Mooooon</a>

        <!-- <i class="notched circle loading icon"></i> -->
        <div class="ui center aligned container">
            <a class="ui label blue big">
                Current Price:
                <div class="detail cur_price"></div>
            </a>
            <a class="ui label green big">
                Price (Next Hour):
                <div class="detail next_hr_price"></div>
            </a>

            <a class="ui label orange big">
                Price (Next Day):
                <div class="detail next_d_price"></div>
            </a>
        </div>
    </div>
    >
    <div style="margin-top: 60px;" class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui container">
                    <!-- <div
                        style="height:560px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%;">
                        <div style="height:540px; padding:0px; margin:0px; width: 100%;"><iframe
                                src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505"
                                width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0"
                                frameborder="0" border="0"
                                style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div>
                    </div> -->
                    <div id="btc_chart"></div>
                </div>
                {% for tweet in tweetList %}
                <div class="ui stacked segment" id="feed_pane">
                    <label>{{tweet.date}} </label>
                    <p class="ui">{{tweet.text }}</p>
                    {% if tweet.tone == 'Positive' %}
                    <p class="ui green label">{{tweet.tone}}</p>
                    <p class="ui gray label">{{ tweet.sentiment_score }}</p>
                    {% elif tweet.tone == 'Negative' %}
                    <p class="ui orange label">{{tweet.tone}}</p>
                    <p class="ui gray label">{{ tweet.sentiment_score }}</p>
                    {% else %}
                    <p class="ui grey label">{{tweet.tone}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="eight wide column">
                <!-- <h2 class="ui dividing header">Sentiment Plot</h2> -->
                <!-- <button class="ui primary button" onclick="load_pie()">
                    Plot Sentiment
                </button> -->
                <figure class="highcharts-figure">

                    <div id="scatter_container"></div>
                    <div id="pie_container"></div>
                    <div id="wordcloud_container" style="text-align: center;">
                        <img src="http://localhost:5000/wordcloud">
                    </div>
                </figure>
            </div>
        </div>

    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <img src="assets/images/logo.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">&copy;2022 RY</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</body>

</html>