<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoAnalytics</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://kit.fontawesome.com/db1eb2790b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- highchart for plot -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
</head>
<script>
    Highcharts.chart('container', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Height Versus Weight of 507 Individuals by Gender'
    },
    subtitle: {
        text: 'Source: Heinz  2003'
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Height (cm)'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Weight (kg)'
        }
    },
    series: [{
        name: 'Female',
        color: 'rgba(223, 83, 83, .5)',
        data: [[161.2, 51.6], [167.5, 59.0]]},
        {
        name: 'Male',
        color: 'rgba(119, 152, 191, .5)',
        data: [[174.0, 65.6], [175.3, 71.8]]}]
    });
</script>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">
            <i class="fa-brands fa-bitcoin fa-spin"></i>
            <div class='content'>To the moon
                <div class="sub header">a sentiment analysis on sns</div>
            </div>
        </h1>
        <!-- a dropdown control for cryptocurrency -->

        <h2 class="ui dividing header">Tweet Stream</h2>

        {% for tweet in tweetList %}
        <div class="ui stacked segment">
            <!-- touch on the color based on the tone -->
            <!-- if tweet.tone == "Positive" -->
            <label>{{tweet.date}} </label>
            <p class="ui">{{tweet.text }}</p>
            {% if tweet.tone == 'Positive' %}
                <p class="ui green label">{{tweet.tone}}</p>
                <p class="ui gray label">{{ tweet.sentiment_score }}</p>
            {% elif tweet.tone == 'Negative' %}
                <p class="ui orange label">{{tweet.tone}}</p>
                <p class="ui gray label">{{ tweet.sentiment_score }}</p>
            {% else %}
                <p class="ui grey label">{{tweet.tone}}</p>
            {% endif %}
        </div>
        {% endfor %}

        <h2 class="ui dividing header">Sentiment Plot</h2>
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                Sentiment Plot
            </p>
        </figure>
        
    </div>
</body>

</html>